.searchContainer {
  position: absolute;
  overflow-x: visible !important;
  margin-top: 22px;
  z-index: 2;
}
.result {
  padding: 8px;
  background: #fff;
  min-height: 150px;
  min-width: 500px;
  overflow-y: auto;
  box-shadow: 1px 1px 9px 2px #c6c6c6;
}