@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./sidebar.css";


/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

a {

  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header {
  padding: 10px 30px;
  background: #134A90;
  color: white;
}
.header .default-option {
  color: gray;
}
.header button {
  text-transform: initial;
  padding: 6px 0px;
}

.bread-crumb {
  margin: 20px 20px 10px 20px;
  font-weight: bold;
}

main {
  margin: 15px;
}

.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.menulist-container::-webkit-scrollbar {
  width: 0;
}
.disable-scrollbar{
  height: fit-content;
  padding: 0;

}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

.pac-container {
  z-index: 10000 !important;
}

.full-width {
  width: 100%;
}

.app-selection {
  width: 100%;
  height: 100vh;
  color: white;
  background: #134A90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-selection .title {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 35px;
  margin-left: 35px;
}

.app-selection .react-icon {
  height: 22px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-right: 13px;
}

.app-selection li a {
  text-decoration: none;
  display: flex;
}

.app-selection li a .link_name {
  font-style: unset;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}

.app-selection li {
  list-style: none;
}

.app-selection .nav-links li .iocn-link span:hover {
  text-decoration: underline;
}

.line-05 {
  border-width: 0.5px;
}

.font-2 {
  font-size: 2.0rem/* 12px */;
}

.max-h-40rem {
  max-height: 40rem;
}

.green-button {
  background: #13901B ;
}

.blue-button {
  background: #134A90 ;
}

.input-white > div {
  color: #fff;
}
.input-white > div::before, .input-white > div::after {
  border-color: #fff;
}

.search-container {
  position: absolute;
  min-width: 700px;
  left: 0px;
  z-index: 9;
}

.search-container > table > tbody > tr > td {
  border: 0px;
}
.account_main th, .account_main td  {
  border-bottom: 0;
}
.disabled .table-cell-text {
  color: gray !important;
}
